# Functions Task Sheet (solutions)

<img width=80 src="https://media.giphy.com/media/KAq5w47R9rmTuvWOWa/giphy.gif">

<img width=150 src="Images/Assembler.png">

# Important:

- Comment your code explaining what each part does when you consider it.
- We are asking about two types of problems. The first type are solved with code cells, and the second with markdown type cells (where the solution must be thought without executing code cells). This will be indicated in each problem.
- Always respect the format of the solution and the instructions!

# Recommendations:


- There are as many ways to solve a problem as there are people in the world. Find yours!
- Create as many variables as you want. They cost nothing and are worth it for the sake of clarity.
- You can add cells if needed. 
- Remember that there are two types of cells: code and markdown. Use both. Explanations never hurt.
- There are several ways to approach the same problem. Try not to repeat your way of thinking.
- If different syntaxes lead to the same result, explore them.
- Use internet in a smart way. Don't look at how to solve the problem in its entirety; it is better to learn methods that lead your logical reasoning to the solution.
- Once you have a plan to address the problem, try breaking your code into manageable chunks.
- Use `print()` and `type()` functions in the middle of your code to understand what your code is actually doing.

***

## Warm up with a lecture

- [Python Keywords and Identifiers](https://www.programiz.com/python-programming/keywords-identifier)

## Equality function

Define the function `equality(n1,n2)` that takes two numbers and returns `True` if they are equal or `False` otherwise.

In [18]:
# Type the code here:
def equality(n1,n2):
    return n1 == n2

In [19]:
equality(3,2)

False

## Scream loud and repetitively function

Create a function that receives a string and an integer, and prints that string in uppercase and with two exclamation marks at the end, as many times as the entered number indicates.

In [15]:
# Type the code here:
def scream_loud_and_repetitively(string, number):
    print((string.upper()+'!! ') * number)

In [16]:
scream_loud_and_repetitively('hola',3)

HOLA!! HOLA!! HOLA!!

## Selecting specific entries from a list

Do you remember the list of countries that we have used in the '*4.2-Lists_tasks*' notebook? (Problem **7 Countries**)

Create a function that selects only countries that start with a specified letter. The program must be case insensitive.

If this letter is not given to the function, it should automatically return countries that start with 'A'.

The output of the function should be a new list containing the original list, but with a tuple at the beginning of the new list made up of all the countries that start with the chosen letter.

**Look at this!** &nbsp;&nbsp; &rarr; &nbsp;&nbsp;  [Use Unpacking to Insert an Element Into the Beginning of a List](https://www.delftstack.com/howto/python/python-insert-into-list/#use-unpacking-to-insert-an-element-into-the-beginning-of-a-list)

Do you dare to implement the unpacking operation to add the tuple at the beginning of the new list?

In [23]:
# Type the code here:
countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua & Deps", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivarian Republic of Venezuela", "Bolivia", "Bosnia Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Ivory Coast", "Jamaica", "japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea North", "Korea South", "Uganda", "Uruguay", "Yemen", "Zimbabwe"]

In [36]:
def initials(list_of_strings, initial_letter = 'A'):
    selected_countries = []
    for string in list_of_strings:
        if string[0].upper() == initial_letter.upper():
            selected_countries.append(string)
            # print(tuple(selected_countries))
            # I don't like the comma :(
            
    new_list_countries = [tuple(selected_countries), *countries]
    
    return new_list_countries

In [40]:
initials(countries)

[('Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua & Deps',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan'),
 'Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua & Deps',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivarian Republic of Venezuela',
 'Bolivia',
 'Bosnia Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Timor',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea North',
 'Korea South',
 'Uganda',
 'Uruguay',
 'Yemen',
 'Zimbabwe']

## Which number is bigger?

Make a function that takes two numbers and prints the higher one (consider the case where they are equal).

Create a full Docstring for your function. Here is some documentation on [docstrings](https://www.programiz.com/python-programming/docstrings).

In [14]:
# Type the code here:
def highest_number(a, b):
    '''
    Takes two numbers and returns the higher one.
    
        Parameters:
                a : a real mumber (float)
                b : another real number (float)
                
        Returns:
            prints the higher between both. 
            In case they are equal, prints a string with this information.
    '''
    if a > b:
        return a
    
    elif a == b:
        return print('You have entered the same number twice :/')
    
    else:
        return b

In [15]:
highest_number(50,51)

51

In [17]:
highest_number(50,45)

50

In [18]:
highest_number(50,50)

You have entered the same number twice :/

The following cell accesses the docstring of your function:

In [19]:
print(highest_number.__doc__)

    Takes two numbers and returns the higher one.

        Parameters:
                a : a real mumber (float)
                b : another real number (float)

        Returns:
            prints the higher between both.
            In case they are equal, prints a string with this information.

##  Define a function that adds a variable number of numbers, but only if they are odd.

Develop a function that receives any N integers and returns the sum only of those that are odd.

In [38]:
# Type the code here:
def adder(*num):
    '''
    Takes a variable number of arguments and returns the sum of only those that are odd
    '''
    sum = 0
    
    for n in num:
        if n % 2 != 0:
            sum = sum + n
    
    return sum

In [39]:
adder(3,5,6,8,9,12,234)

17

## Total amount of seconds

**a.** Suppose you are performing an experiment whose time is measured by means of a stopwatch. The format of the recorded time is given in minutes and seconds; e.g. the first measurement records a time of '07:37'. You want to compare the total number of seconds each time the experiment runs. For this case, the function should return '457'. Create an algorithm that performs that task so you can skip the calculations by hand and just drink coffee.

**b.** Suppose the experiment has two or more parts that are measured separately. How would you get the total time of two or more runs of the experiment? Define a function that can take an arbitrary number of time measurements (in the form `minutes:seconds`) and return their sum (in seconds).

In [6]:
# Type the code here:
time = '07:37'

In [2]:
type(time)

str

In [5]:
def conversion_to_seconds(time_string):
    time_list = time_string.split(':')
    
    minutes = int(time_list[0])
    seconds = int(time_list[1])

    total_sec = minutes * 60 + seconds

    return total_sec

In [7]:
conversion_to_seconds(time)

457

In [8]:
conversion_to_seconds('10:20')

620

In [14]:
def seconds_adder(*measurements):
    accumulative_time = 0
    for measurement in measurements:
        accumulative_time += conversion_to_seconds(measurement)
    
    return(accumulative_time)

In [16]:
seconds_adder('1:01', '0:20', '1:05')

146

## Project Euler

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Create a program that requests an integer as input. With that number it executes a function that calculates all the multiples of 3 or 5, and prints a tuple with the chosen numbers, all the multiples and their sum, up to the chosen N.

**

**Check:** If you enter the number 1000, you must obtain as the sum of their multiples 233168.

In [9]:
# Type the code here:
def Euler(N):
    total_sum = 0
    a = tuple()
    a = (*a, N)
    for i in range(1, N):
        if (i % 3 == 0 or i % 5 == 0):
            total_sum = total_sum + i
            a = (*a, i)
    a = (*a, total_sum)
    print(a)

number = int(input('Choose an integer: '))
Euler(number)

Choose an integer: 1000
(1000, 3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100, 102, 105, 108, 110, 111, 114, 115, 117, 120, 123, 125, 126, 129, 130, 132, 135, 138, 140, 141, 144, 145, 147, 150, 153, 155, 156, 159, 160, 162, 165, 168, 170, 171, 174, 175, 177, 180, 183, 185, 186, 189, 190, 192, 195, 198, 200, 201, 204, 205, 207, 210, 213, 215, 216, 219, 220, 222, 225, 228, 230, 231, 234, 235, 237, 240, 243, 245, 246, 249, 250, 252, 255, 258, 260, 261, 264, 265, 267, 270, 273, 275, 276, 279, 280, 282, 285, 288, 290, 291, 294, 295, 297, 300, 303, 305, 306, 309, 310, 312, 315, 318, 320, 321, 324, 325, 327, 330, 333, 335, 336, 339, 340, 342, 345, 348, 350, 351, 354, 355, 357, 360, 363, 365, 366, 369, 370, 372, 375, 378, 380, 381, 384, 385, 387, 390, 393, 395, 396, 399, 400, 402, 405, 408, 410, 411, 414, 415, 417, 420, 423, 425, 426, 429, 430, 432, 435, 438, 440, 441, 444, 445, 447, 450, 453, 455, 456, 459, 460, 462, 465, 468, 470, 471, 474, 475, 477, 480, 483, 485, 486, 489, 490, 492, 495, 498, 500, 501, 504, 505, 507, 510, 513, 515, 516, 519, 520, 522, 525, 528, 530, 531, 534, 535, 537, 540, 543, 545, 546, 549, 550, 552, 555, 558, 560, 561, 564, 565, 567, 570, 573, 575, 576, 579, 580, 582, 585, 588, 590, 591, 594, 595, 597, 600, 603, 605, 606, 609, 610, 612, 615, 618, 620, 621, 624, 625, 627, 630, 633, 635, 636, 639, 640, 642, 645, 648, 650, 651, 654, 655, 657, 660, 663, 665, 666, 669, 670, 672, 675, 678, 680, 681, 684, 685, 687, 690, 693, 695, 696, 699, 700, 702, 705, 708, 710, 711, 714, 715, 717, 720, 723, 725, 726, 729, 730, 732, 735, 738, 740, 741, 744, 745, 747, 750, 753, 755, 756, 759, 760, 762, 765, 768, 770, 771, 774, 775, 777, 780, 783, 785, 786, 789, 790, 792, 795, 798, 800, 801, 804, 805, 807, 810, 813, 815, 816, 819, 820, 822, 825, 828, 830, 831, 834, 835, 837, 840, 843, 845, 846, 849, 850, 852, 855, 858, 860, 861, 864, 865, 867, 870, 873, 875, 876, 879, 880, 882, 885, 888, 890, 891, 894, 895, 897, 900, 903, 905, 906, 909, 910, 912, 915, 918, 920, 921, 924, 925, 927, 930, 933, 935, 936, 939, 940, 942, 945, 948, 950, 951, 954, 955, 957, 960, 963, 965, 966, 969, 970, 972, 975, 978, 980, 981, 984, 985, 987, 990, 993, 995, 996, 999, 233168)

This code can be done in one line with list comprehension techniques. Redo this algorithm in one line.

In [ ]:
# Type the code here:
# Simplify with this the code!
print(sum(x for x in range(1000) if x % 3 == 0 or x % 5 == 0))

## Sort a list in a certain manner

Build a function that sorts the list below based on how close or far the elements are from 100:

In [1]:
list_of_numbers = [102,100, 50, 65, 82, 23, 0, 198, 290, -34, 1, -1]

In [4]:
# Type the code here:
def distance_func(n):
    return abs(n - 100)

list_of_numbers.sort(key = distance_func)
print(list_of_numbers)

[100, 102, 82, 65, 50, 23, 198, 1, -1, -34, 290]

## Excess of freedom

I dare you to find (or invent, whichever you think is faster!) a function that takes other functions as arguments. The program is executed by calling the main function by means of arguments within which one of them calls one or more external functions and thus performs some task of your choosing.

**Hint:** Ask yourself the following: why is it useful for a function to call another function via one of its arguments?

In [ ]:
# Type the code here: